<div class='container'>
    <div class="row">
       <div class="span3">
         <dl>
          <dt> Name:</dt>
          <dd>{{name}}</dd>
          <dt> Twitter:</dt>
          <dd>{{twitter_handle}}</dd>
          <dt> Personal Url:</dt>
          <dd>{{personal_url}}</dd>
          <dt> Phone:</dt>
          <dd>{{phone}}</dd>
          <dt> Bio:</dt>
          <dd>{{bio}}</dd>
          <dt> Captain:</dt>
          <dd>{{captain}}</dd>
          <dt> Tournament Creator:</dt>
          <dd>{{tournament_creator}}</dd>
          <dt> City:</dt>
          <dd>{{city}}</dd>
          <dt> State:</dt>
          <dd>{{state}}</dd>
          <dt> Zip:</dt>
          <dd>{{zip}}</dd>
         </dl>
       </div>
       <div class="span9">
         <dl>
           <dt> Games Won:</dt>
           <dd>{{games_won}}</dd>
           <dt> Games Lost:</dt>
           <dd>{{games_lost}}</dd>
           <dt> Games Played:</dt>
           <dd>{{games_played}}</dd>
           <dt> Tournaments Won:</dt>
           <dd>{{tournaments_won}}</dd>
           <dt> Tournaments Lost:</dt>
           <dd>{{tournaments_lost}}</dd>
           <dt> Tournaments Played:</dt>
           <dd>{{tournaments_played}}</dd>
           <dt> Percentage of Games Won:</dt>
           <dd>{{percent_games_won}}</dd>
           <dt> Percentage of Games Lost:</dt>
           <dd>{{percent_games_lost}}</dd>
           <dt> Percentage of Tournaments Lost:</dt>
           <dd>{{percent_tournaments_lost}}</dd>
           <dt> Percentage of Tournaments Won:</dt>
           <dd>{{percent_tournaments_won}}</dd>
         </dl>
      </div>
</div>
