<ul>
  <li>
  Name:  {{name}}
  Twitter:  {{twitter_handle}}
  Personal Url:  {{personal_url}}
  Phone:  {{phone}}
  Bio:  {{bio}}
  Captain:  {{captain}}
  Tournament:  {{tournament_creator}}
  City:  {{city}}
  State:  {{state}}
  Zip:  {{zip}}
  Games Won:  {{games_won}}
  Games Lost:  {{games_lost}}
  Games Played:  {{games_played}}
  Tournaments Won:  {{tournaments_won}}
  Tournaments Lost:  {{tournaments_lost}}
  Tournaments Played:  {{tournaments_played}}
  </li>
</ul>

