<ul>
 <li> Name:  {{name}}</li>
 <li> Twitter:  {{twitter_handle}}</li>
 <li> Personal Url:  {{personal_url}}</li>
 <li> Phone:  {{phone}}</li>
 <li> Bio:  {{bio}}</li>
 <li> Captain:  {{captain}}</li>
 <li> Tournament Creator:  {{tournament_creator}}</li>
 <li> City:  {{city}}</li>
 <li> State:  {{state}}</li>
 <li> Zip:  {{zip}}</li>
 <li> Games Won:  {{games_won}}</li>
 <li> Games Lost:  {{games_lost}}</li>
 <li> Games Played:  {{games_played}}</li>
 <li> Tournaments Won:  {{tournaments_won}}</li>
 <li> Tournaments Lost:  {{tournaments_lost}}</li>
 <li> Tournaments Played:  {{tournaments_played}}</li>
</ul>

