<div class='container'>
  <ul>
   <li> Name:  {{name}}</li>
   <li> Twitter:  {{twitter_handle}}</li>
   <li> Personal Url:  {{personal_url}}</li>
   <li> Phone:  {{phone}}</li>
   <li> Bio:  {{bio}}</li>
   <li> Captain:  {{captain}}</li>
   <li> Tournament Creator:  {{tournament_creator}}</li>
   <li> City:  {{city}}</li>
   <li> State:  {{state}}</li>
   <li> Zip:  {{zip}}</li>
   <li> Games Won:  {{games_won}}</li>
   <li> Games Lost:  {{games_lost}}</li>
   <li> Games Played:  {{games_played}}</li>
   <li> Tournaments Won:  {{tournaments_won}}</li>
   <li> Tournaments Lost:  {{tournaments_lost}}</li>
   <li> Tournaments Played:  {{tournaments_played}}</li>
   <li> Percentage of Games Won:  {{percent_games_won}}</li>
   <li> Percentage of Games Lost:  {{percent_games_lost}}</li>
   <li> Percentage of Tournaments Lost:  {{percent_tournaments_lost}}</li>
   <li> Percentage of Tournaments Won:  {{percent_tournaments_won}}</li>
  </ul>
</div>
