<div class='container'>
    <div class="row">
        <div class="span3">
         <dl>
           <dt> Title:</dt>
           <dd>{{title}}</dd>
           <dt>Description:</dt>
           <dd>{{description}}</dd>
           <dt>Author:</dt> 
           <dd>{{author}}</dd>
          </dl>
          {{#link-to 'post.new_comment'}} Comment on Post {{/link-to}}
         </div>
         <div class="span3">
          {{#each comment in comments}}
         <dl>
           <dt>Comments: </dt>
           <dd>{{#link-to 'post.comment' comment}}{{comment.title}}{{/link-to}}</di>
          {{/each}}
         </dl>
        </div>
      <div class="span3">
        {{outlet}}
    </div>
</div>

