  <h1>Tournament {{name}}</h1>

 <ul>
  {{#each game in games}}
    <li>Game {{id}}: {{#link-to 'tournament.game' game }}{{game.home_team.jersey_name}} vs {{game.away_team.jersey_name}}{{/link-to}}</li>
  {{/each}}
{{outlet}}
</ul>

