<div class='container'>
  <h1>Tournaments</h1>

  <ul>
    {{#each}}
      <li>Tournament {{id}}: {{#link-to 'tournament' this }}{{name}}{{/link-to}}</li>
      <h6>Start Date: {{format-date start_date}} End Date: {{format-date end_date}}</h6>
      <h6>Tournament Created : {{format-date created_at}}</h6>
      <h6>Tournament Sign Up Period from {{format-date created_at}} till {{format-date sign_up_end}} </h6>
    {{/each}}
  </ul>
</div>
